# session-service
SESSION_APP_PORT=3002
SESSION_DATABASE_URL=postgresql://wedding:wedding_secret@localhost:5432/wedding_session
SESSION_REDIS_URL=redis://localhost:6379

# realtime-service
REALTIME_APP_PORT=3006
REALTIME_REDIS_URL=redis://localhost:6379
